[2015-03-13 09:28] cades opened #12 "co-exist with existing step definitions"
Hey guys,

You've done a great job on automated testing, it's pretty cool!
After read your document, I found you override World.Given / World.When / World.Then, and your version expect different function signature. I think this would be a obstacle for those who want to use cucumber-mink in the halfway.

How do you think? Should cucumber-mink provide it's own Given / When / Then?

[2015-03-13 22:42] Adezandee commented on #12
Hello,
Thanks for your support !

You're right that cucumber-mink is quite intrusive at the moment, and we could make things more smooth if you already have a bunch of custom steps. On the other side, the "World" object that i use as a basis for all mink's steps is also kind of an obstacle in this point of view. You probably already have a custom World associated with your steps.

Anyway, i agree

[2015-03-15 16:53] cades commented on #12
Hi,

I think even though mink can get alone with the existing steps, we may have no luck when other step definition library(s) also patching `this.defineStep`. And thanks for mention, keep the World object untouched is important, too -- so that user can have zero concern to adopt this library, which is just a application layer built on top of cucumber-js. So she can feel free to choose how to writ

[2015-03-16 09:27] Adezandee commented on #12
Hi,

Thanks for sharing your thoughts here, I think your issue is highly relevant and i'll start to work on this in order to make mink a "standalone" plugin to cucumber as you suggested.

I'll propose a pull request soon

[2015-03-27 13:18] Adezandee opened #13 "Address issues found in lib/driver/methods/elementsWithValue.js [Opened by bitHound]"
bitHound discovered 1 Error Ignored in [lib/driver/methods/elementsWithValue.js](https://github.com/Adezandee/cucumber-mink/blob/ce54c2346af7b3539d25d3f9eaa76f4960925c93/lib/driver/methods/elementsWithValue.js). For details go to [bitHound](https://www.bithound.io/github/Adezandee/cucumber-mink/blob/ce54c2346af7b3539d25d3f9eaa76f4960925c93/lib/driver/methods/elementsWithValue.js).

[2015-03-27 13:21] Adezandee opened #14 "Address issues found in lib/driver/methods/button.js [Opened by bitHound]"
bitHound discovered 1 Duplicate Function, and 1 Error Ignored in [lib/driver/methods/button.js](https://github.com/Adezandee/cucumber-mink/blob/ce54c2346af7b3539d25d3f9eaa76f4960925c93/lib/driver/methods/button.js). For details go to [bitHound](https://www.bithound.io/github/Adezandee/cucumber-mink/blob/ce54c2346af7b3539d25d3f9eaa76f4960925c93/lib/driver/methods/button.js).

[2015-03-27 13:21] Adezandee opened #15 "Address issues found in lib/driver/methods/link.js [Opened by bitHound]"
bitHound discovered 1 Duplicate Function, and 1 Error Ignored in [lib/driver/methods/link.js](https://github.com/Adezandee/cucumber-mink/blob/ce54c2346af7b3539d25d3f9eaa76f4960925c93/lib/driver/methods/link.js). For details go to [bitHound](https://www.bithound.io/github/Adezandee/cucumber-mink/blob/ce54c2346af7b3539d25d3f9eaa76f4960925c93/lib/driver/methods/link.js).

[2015-03-27 13:21] Adezandee opened #16 "Address issues found in lib/driver/methods/elementsWithText.js [Opened by bitHound]"
bitHound discovered 1 Error Ignored in [lib/driver/methods/elementsWithText.js](https://github.com/Adezandee/cucumber-mink/blob/ce54c2346af7b3539d25d3f9eaa76f4960925c93/lib/driver/methods/elementsWithText.js). For details go to [bitHound](https://www.bithound.io/github/Adezandee/cucumber-mink/blob/ce54c2346af7b3539d25d3f9eaa76f4960925c93/lib/driver/methods/elementsWithText.js).

[2015-04-21 10:03] #13 closed

[2015-04-22 08:57] #16 closed

[2015-04-22 08:57] #15 closed

[2015-04-22 08:58] #14 closed

[2015-04-22 09:00] Adezandee opened #18 "Address issues found in lib/driver/methods/url.js [Opened by bitHound]"
bitHound discovered 1 Lint Issue in [lib/driver/methods/url.js](https://github.com/Adezandee/cucumber-mink/blob/84ae8ac52aedc21299e9c6a37d94e0bf4ce8329b/lib/driver/methods/url.js). For details go to [bitHound](https://www.bithound.io/github/Adezandee/cucumber-mink/blob/84ae8ac52aedc21299e9c6a37d94e0bf4ce8329b/lib/driver/methods/url.js).

[2015-05-18 21:16] #18 closed

[2015-05-19 11:17] Adezandee opened #20 "Live Demo"
![sc-moded](https://cloud.githubusercontent.com/assets/4415204/7702988/7df2a2b0-fe34-11e4-83f3-4d7e7a6bb86b.gif)

[2015-05-19 12:41] #20 closed

[2015-07-21 15:46] lsjroberts opened #22 "Driver baseUrl parameter not being used and throwing error"
It seems the `baseUrl` parameter isn't being used by the `root` method in [step_definitions/ext/navigation.js](https://github.com/Adezandee/cucumber-mink/blob/master/lib/step_definitions/ext/navigation.js#L14-L21).

I am on version `1.0.0` and have the following configuration:

[code]

Using the step `And I am on the homepage` I get:

[code]

And using `And I am on "/"` I get:

[code]

Should I no

[2015-07-21 21:01] Adezandee commented on #22
Hi, thanks for your feedback !
Indeed, the parameter isn't correctly handled, i'll post a fix right away

I never came across this because i usually start by test with

[code]

witch basically do `this.driver.baseUrl = "http://localhost:3000";`

anyway, thx for your issue :)

[2015-07-21 21:53] Adezandee commented on #22
Dunno why it was automatically closed... anyway, i published a patch : https://github.com/Adezandee/cucumber-mink/releases/tag/v1.0.1

[2015-07-22 08:44] lsjroberts commented on #22
Thank you for the quick response and fix! I've updated and it reaches the homepage correctly now.

It does seem to never get to the next step though, I'll have a look into that. If it's not my fault I'll post up a new issue. Thanks :)

[2015-07-22 08:44] #22 closed

[2015-07-22 10:52] lsjroberts opened #24 "Failing assertions hang"
The `assertFn(...)` calls appear to hang whenever an assertion fails. It doesn't output the step name, just remains stuck after the previous successful step.

I am using version `1.0.1`.

For example with `I should see "foo"` I added a `console.log` before and after the call to `assertFn(html, expectedText)` in [assert-dom.js](https://github.com/Adezandee/cucumber-mink/blob/master/lib/step_definit

[2015-07-22 15:24] lsjroberts commented on #24
I've been running it through `grunt-cucumber`, doing this causes it to hang.

Testing it with `cucumber-js` directly actually just causes it to end the process at the failing test (still without outputting it to the terminal).

[2015-07-22 15:38] lsjroberts commented on #24
Essentially it looks like the `AssertionError` thrown by chai isn't caught correctly in cucumber-mink.

I wrote a quick example to test it outside of cucumber-mink which confirmed it isn't a problem with chai or cucumber:

[code]

[code]

Not sure where to take it from here, sorry!

[2015-07-22 22:49] Adezandee commented on #24
Hi @lsjroberts,
Thanks again for your feedback, i'll look into it quickly :)

[2015-07-24 22:12] Adezandee commented on #24
@lsjroberts i made some changes in #25, can you test it with your custom runner ?

[2015-07-26 11:28] lsjroberts commented on #24
@Adezandee Sure will do, I'll give a run when I'm back in the office tomorrow

[2015-07-27 08:52] lsjroberts commented on #24
@Adezandee Yep, that works correctly thanks very much :)

[2015-07-27 09:30] Adezandee commented on #24
@lsjroberts Great, gonna merge it and release a fix aka. v1.0.2.
I released a new documentation page also, http://cucumber-mink.js.org/steps/
don't hesitate if you have any feedback about it, missing step etc. Thanks !

[2015-07-27 09:32] #24 closed

[2015-07-27 23:06] mattbullock opened #26 "Enhanced support for AngularJS"
Cucumber steps are prone to failing inconsistently while waiting for Angular's digest loop to complete, depending on the duration of the loop, and perhaps other factors. The Cucumber-Mink steps are awesome and I'd like to use them in my Angular project.

Do you plan to add support for Angular-based projects?

Or, how can we use Mink with another library, like Protractor, which works more nicely wi

[2015-07-27 23:08] matmar10 commented on #26
:+1: would love to see AngularJS support. We tried to use mink in the project I'm working on now but also ran into this issue.

[2015-07-27 23:12] mattbullock opened #27 "Separate step definitions from webdriver management"
It would be great to use Mink's step definitions without the library creating and managing the webdriver-io instance.

Any plans to make the managed webdriver instance configurable? I'd love to pull just the steps into my project and manage the driver instance separately, but I see they are tightly coupled.

[2015-07-28 08:12] Adezandee commented on #27
Hi @mattbullock,
Well it could be easily configurable with few changes but you'll have to provide a Driver object with all methods declared in https://github.com/Adezandee/cucumber-mink/tree/master/lib/driver/methods
Indeed its tightly coupled, still i created my own set of Driver "API", so you can hook in pretty nicely with another Driver object
Is this what you meant ?

[2015-07-28 08:14] Adezandee commented on #27
As of now, my own Driver object instantiate a WebDriverIO client, that i use internally by calling "this.client".

[2015-07-28 08:19] Adezandee commented on #26
Well it would certainly be awesome to support Angular based projects, i'll take a look and try testing the Angular Todo app. I don't know either if hooking Protractor can be easily done though.
I'm open for any kind of insight / PR on this topic.
(Well, if supporting Protractor needs a full driver api rewrite, maybe we'll need to fire up a new repository for that)

[2015-07-30 17:46] Adezandee commented on #26
@mattbullock @matmar10

I extracted the magic method of protractor for angular app with selenium browser and implemented a fairly simple cucumber hook:

[code]

I tested with an app making async request with $http, and it works pretty well. Could you guys try this snippet on your apps and let me know if it works. Thanks

[2015-09-22 02:00] ShadeLotus opened #30 "Couldn't connect to selenium server"
Running cucumber-mink I get:

[code]

[2015-09-23 15:35] Adezandee commented on #30
Hi @ShadeLotus,
Maybe didn't launched phantomjs properly, try `$ phantomjs -w` in another terminal

[2015-09-23 18:06] ShadeLotus commented on #30
This in the phantomjs terminal:

[code]

this in the cucumber-mink terminal

[code]

[2015-09-23 20:55] ShadeLotus commented on #30
$ node --version
v0.12.4
$ phantomjs --version
1.9.0

[2015-09-24 23:13] ShadeLotus commented on #30
Is this simply a problem in webdriverio or is it in how we use it?

[2015-09-25 08:02] Adezandee commented on #30
I don't know for your specific version of phantomjs, i usually use 1.9.7+

[2015-09-25 13:02] ShadeLotus commented on #30
Hellz yeah, upgrading to phantomjs 1.9.8 caused good things to happen.

Thank you :)

[2015-09-25 13:02] #30 closed

[2015-10-02 17:35] matmar10 commented on #26
This is awesome, @Adezandee but I'm having trouble getting mink to open the initial page.

No matter what I put for `Given I browse "http://localhost:9000"`only `data:,` is ever opened in Chrome.

- Using local Chrome
- Starting webdriver with `webdriver-manager start`
- Running with `./node_modules/cucumber/bin/cucumber.js --require features/support/local-chrome.js`

Support file has:
[code]
Any

[2015-10-25 00:59] chadfurman opened #31 "please give example setup"
how to point to web server?  Mink.init?  where?

Need working example please :D

[2015-10-25 00:59] chadfurman opened #32 "please give example setup"
how to point to web server?  Mink.init?  where?

Need working example please :D

[2015-10-25 00:59] #31 closed

[2015-10-25 12:27] Adezandee commented on #32
Hi @chadfurman
You can setup mink to a web server with this step:

[code]

[2015-11-22 14:39] AniteSridhar opened #33 "How to run cucumber-mink in remote machine using Selenium-grid's hub and node mode"
I have started hub using following command:
"java -jar C:\Selenium\selenium-server-standalone-2.43.1.jar -role hub"
and node
"java -jar C:\Selenium\selenium-server-standalone-2.43.1.jar -role webdriver -hub http://localhost:4444/grid/register -port 8910 -browser browserName="chrome",version=ANY,platform=WINDOWS,maxInstances=5 -Dwebdriver.chrome.driver=C:\Selenium\chromedriver_win32\chromedriver.ex

[2015-11-22 16:38] Adezandee commented on #33
Hi @AniteSridhar,
If your using the CLI, try : `cucumber-mink --browser chrome --port 4444`
Otherwise, if your using cucumber CLI with support file, take a look at https://github.com/Adezandee/cucumber-mink/blob/master/examples%2Flocal-chrome.js

[2015-11-27 12:32] AniteSridhar opened #35 "can we do parallel execution feature using Cucumber-mink? If so, how?"

[2016-01-01 07:34] chadfurman opened #36 "Hangs on start, phantomjs running"
$ phantomjs --version
1.9.8
$ node --version
v4.2.1
$ cucumber-mink
Cucumber-mink v1.0.2. Launching phantomjs on port 8910...

and then it just sits there?

[2016-01-01 08:08] Adezandee commented on #36
Hi @chadfurman sorry the wording is misleading, it should be `connecting` instead of launching. You have to launch phantomjs in another terminal with `$ phantomjs -w`.

[2016-01-01 15:35] chadfurman commented on #36
phantomjs was running.  For some reason, restarting fixed.  It just worked this morning.

[2016-01-01 15:35] #36 closed

[2016-01-02 14:24] #27 closed

[2016-01-02 14:25] #32 closed

[2016-01-02 14:25] #33 closed

[2016-01-02 14:26] Adezandee commented on #35
Not really, or maybe by launching several browser. You can do it manually thought.

[2016-01-02 14:26] #35 closed

[2016-02-16 20:26] cajoy opened #43 "Support random ID"
Let's imagine very popular scenario where user can have one account per email.

And there is absolutely impossible to reset database after each test or before running cuucmber

So here is my test case:

[code]

So when I run this test first time it will be successful.

But If I run it again - it will fail as email already registered.

So my question is how to be able to set some random id? As I se

[2016-02-17 09:52] Adezandee commented on #43
Hi @cajoy

There is already some kind of variable / env replacement you could use inside cucumber see this example:

[code]

You can see in this example that `<VARS>` are replaced with the provided values in `Examples` tags.
Otherwise, I am not aware of any existing randomness inside cucumber-js. I'll take a look a how protractor handle this case.

[2016-02-18 14:47] cajoy commented on #43
@Adezandee Thanks. It is pretty awesome. but if we can have something like

[code]

it would be great. what means % is randome generated value by some kind of "shortid" npm package.

or another way is possibility to set up hook like "beforeExample" what will be able transform the data.

Here is example how I did it.. but that's only draft and not supports different variables.

[code]

[2016-02-20 16:33] chadfurman opened #45 "Phantomjs 2.1 cannot connect to selenium server?"
Just installed the latest phantomjs 2.1 and cucumber-mink cannot connect to it?

[2016-02-20 16:47] chadfurman commented on #45
this isn't the case on 1.0.2 but it is on 1.1.0

[2016-02-20 17:07] Adezandee commented on #45
hi @chadfurman,
I changed the default browser settings, I've ran the e2e tests with phantomjs 2.1 with this command:
`cucumber-mink --browser phantomjs --port 8910 -- test/`
I experienced too many issues with phantomjs, I'm mainly using Firefox now. It's easy done with [webdriver-manager](https://github.com/pose/webdriver-manager).

[code]

[2016-03-04 12:54] karinepires opened #55 "Problem in version 1.1.0 when running as support for Cucumber.js"
Hello,

First I would like to thank you for this project.
The error I'm encountering in cucumber-mink version 1.1.0 is:

[code]

My phantom.js file is (and works fine with previous version of cucumber-mink):

[code]

The cucumberjs version is 0.9.5

[2016-03-04 13:33] Adezandee commented on #55
Hi @karinepires, seems like I made a mistake with ES6 module loading / ES5 nodejs require().
Quick fix: use `var Mink = require('cucumber-mink').default;`

Sorry for that, I'll make it right asap

[2016-03-04 14:13] Adezandee commented on #55
@karinepires, ok fixed with 1.1.1 :+1:
Thanks for your feedback !

[2016-03-08 09:54] #45 closed

[2016-03-11 10:27] karinepires commented on #55
Hello! Thanks for the fast answer and correction!

However I'm still not able to run cucumber-mink.
I've tried to debug it but could not find anything.
I've created some dockerfiles ([available here](https://github.com/karinepires/docker-test-cucumber-mink)) for testing it in a isolated environment to make sure was not something on my machine.

Using the client I get the following error:

[code]

[2016-03-16 14:08] Adezandee commented on #55
Hi @karinepires, I've experienced many issues with phantomjs lately too. I'll have a try with your dockerfiles thanks for that. In the meantime, I recommend you use Firefox / Chrome headless drivers as their javascript engines are not terribly outdated like phantomjs

[2016-04-14 11:19] rande opened #72 "Configuration options lost"
Hello,

While trying to use browserstack as a selenium remote server:

[code]

with a single feature:

[code]

The command is started with: ``node_modules/.bin/cucumber-mink -- -r features/support/mink.js``

I get

[code]

I dig into the code and I found out that the ``registerHook`` method (https://github.com/Adezandee/cucumber-mink/blob/master/src/mink.js#L167) is reseting the ``unit`` monad fro

[2016-04-14 15:04] pebie commented on #72
:+1:

[2016-04-14 15:09] Adezandee commented on #72
@rande @pebie, working on it thx for feedback 👍

[2016-04-14 15:13] Adezandee commented on #72
@rande, can you test it with:
`$ node_modules/.bin/cucumber-mink --inject false -- -r features/support/mink.js`

[2016-04-14 15:16] rande commented on #72
@Adezandee same issue.

[2016-04-14 15:31] rande commented on #72
@Adezandee do you manage to reproduce the issue ?

[2016-04-14 15:56] Adezandee commented on #72
I pushed 2 fixes following some investigation on your issue, I'm able to get WebdriverIO to connect to browserstack now yes

[2016-04-14 16:04] pebie commented on #72
@Adezandee I ran into a new issue with --inject flag.

I'm able to get WebdriverIO connect to browserstack but I have this issue

Error: A session id is required for this command but wasn't found in the response payload

[2016-04-14 16:04] Adezandee commented on #72
@rande, could you please run mink with `DEBUG` and show me the output if you experience any other issues ?
`$ DEBUG=mink:* cucumber-mink --inject false`

[2016-04-14 16:07] Adezandee commented on #72
@pebie, yeah I'm seeing that too. I'll dig into WebdriverIO / BrowserStack interaction

[2016-04-14 16:08] pebie commented on #72
@Adezandee

After running :

`DEBUG=mink:* ./node_modules/.bin/cucumber-mink --inject false -- -r ./e2e/support/index.js ./e2e/features`

I get :

`mink:cli [ 'node', 'cucumber-js', '-r', './e2e/support/index.js', './e2e/features' ]`

[2016-04-14 16:34] pebie commented on #72
Your catch statement

[https://github.com/Adezandee/cucumber-mink/blob/master/src/mink.js#L172](https://github.com/Adezandee/cucumber-mink/blob/master/src/mink.js#L172)

[code]

By changing the catch statement I saw that the issue was due to browserstack tunnel connection. So I try to connect it and now it's work ;)

[2016-04-14 17:20] Adezandee commented on #72
@pebie great 👍
I'll clean this up now, thanks

[2016-04-15 00:45] pebie commented on #72
@Adezandee thx :+1:

It's work fine

Cheers

[2016-04-19 08:27] rande commented on #72
@Adezandee I am back again, sorry I was off for a few day.

The issue is still present with your 1.2.2 release. I have the same behavior. Please note, I have reinstall all packages from a clean state (``rm -rf node_modules``).

[2016-04-19 08:37] rande commented on #72
For information; @pebie is using BrowserStackLocal to test internal websites so the default values are working (127.0.0.1:4444). However if we set hub.browserstack.com in the configuration to test public websites then we hit the issue :

[code]

[2016-04-19 09:15] pebie commented on #72
@rande

I think it's just a matter port that is used by selenium in local mode.

By default it's 4444. In your local driver configuration try to change it.

FYI it's work for me even without browserstack.

[2016-04-19 09:24] rande commented on #72
@pebie my use case is simple, I want to use selenium server provided by browser stack to test a public site. This use case does not work.

[2016-04-19 09:47] Adezandee commented on #72
@rande, maybe you're initializing Mink twice, try running it with `DEBUG` flags to se if `mink init` message appears two times.
IE: `DEBUG=* node_modules/.bin/cucumber-mink -- -r features/support/mink.js`

[2016-04-19 09:52] rande commented on #72
@Adezandee I create a small project with the failing test: https://github.com/rande/browserstack-kitchensink

[2016-04-19 10:00] Adezandee commented on #72
@rande, works here. Juste a little change since you're not using `local` browserstack, you have to set
[code]

[2016-04-19 10:03] rande commented on #72
@Adezandee cannot manage to make it work with your settings. However, as @pebie pointed out, with ``--inject false`` it works.

[2016-04-19 10:06] Adezandee commented on #72
@rande, see https://github.com/rande/browserstack-kitchensink/pull/1

[2016-04-19 11:43] rande commented on #72
Ok, here my finding:

* using ``node_modules/.bin/cucumber-mink -- -r features/support/mink.js`` then ``browserstack.local`` are not used and tests are failling unless ``--inject false`` is provided.
* using ``cucumber-js`` directly make tests working with no configuration option.

My conclusion is that ``browserstack.local`` is not required, and the ``cucumber-mink`` documentation should clearly

[2016-04-19 11:43] #72 closed

[2016-05-17 12:39] chombium opened #97 "callback function not called in manyStep()"
Hi,

I want to hide the technical steps (clicks, input fields values insertion...) from the business features (like, I can login, I can search for, etc).
To do a small tests I wrote a small test which opens https://twitter.com clicks the log in button and then on the new page inserts the values for the username and password fields.
Actually I wanted to test if when I use manyStep definition I coul

[2016-05-17 15:06] Adezandee commented on #97
Hi @chombium,
Thanks for your feedback, indeed the callback parameter is not handled due to recent changes.
In the meantime you can use:
[code]

[2016-05-17 15:14] Adezandee commented on #97
You may also directly return the promise since cucumber runner will handle it directly

[2016-05-17 23:27] chombium commented on #97
Hi @Adezandee,
thanks for the fast reply and the suggested solutions.
Can you please tell me if you have planed any changes of the manyStep function regarding the callback, so that I know if I need to refactor my step definitions in future

BR,
Jovan

[2016-05-26 08:39] NouranMahmoud opened #101 "Follow sometimes does not click on the url"
I am facing a problem with my tests as (sometimes) the _follow does not redirect/click on the url_ .. and when I investigated this issue I found it related to phantomjs .. this is the error occurs to me
`[DEBUG] Network - Resource request error: QNetworkReply::NetworkError(OperationCanceledError) ( "Operation canceled" ) URL: "http://localhost:8000/uae-en/categories/Clothing"` and this is the issu

[2016-05-30 11:18] NouranMahmoud commented on #101
I've used [selenium-standalone](https://github.com/vvo/selenium-standalone) with chrome driver and it worked fine.

[2016-05-30 11:18] #101 closed

[2016-05-30 12:21] Adezandee commented on #101
Hi @NouranMahmoud, sorry never seen this issue before. Phantomjs isn't my default browser. I recommend using Chrome or Firefox with Selenium.

[2016-05-31 09:12] #97 closed

[2016-06-06 08:12] pezholio opened #105 "manyStep() returns `function accepts a callback and returns a promise`"
I'm using Cucumber Mink and I have some quite complex steps that I'd like factor out into a single step to make my scenarios a bit more legible, and I thought `Mink.manyStep` would fit the bill. However, I'm struggling to get this to work, as I get the error `function accepts a callback and returns a promise`. Here's what my step definition looks like:

[code]

It's very possible I'm doing somethi

[2016-06-06 09:37] Adezandee commented on #105
Hi @pezholio, can you try something like that

[code]

[2016-06-06 09:43] pezholio commented on #105
Perfect, that's got it. Thanks

[2016-06-08 17:37] #105 closed

[2016-06-21 13:33] Adezandee commented on #26
Hi @matmar10,
I know this issue is quite old but I've just added a new driver interface that allows to use `cucumber-mink` with protractor (through `protractor-cucumber-framework` package). See https://github.com/Adezandee/cucumber-mink/releases/tag/v1.3.0
It's still quite experimental, I'll use it right away on a big angular project though.

[2016-06-23 06:15] matmar10 commented on #26
@Adezandee very cool - sing cucumber on a new project so will have a go with it

[2016-06-27 12:28] danielbush opened #123 "sauce labs in travis"
Hi,
I'm trying to get cucumber-mink to run selenium tests against saucelabs from travis.  I have sauce connect (sc tool) on in travis.
I've tried every possible combination to try to get this to work.  I'm wondering if I'm configuring cucumber-mink and webdriverio correctly.

Roughly what I'm trying is what I have below (based on `features/support/mink.js`):

[code]

Am I configuring webdriver wit

[2016-06-27 12:41] Adezandee commented on #123
Hi @danielbush, can you try with this parameters :

[code]

[2016-06-27 13:16] danielbush commented on #123
No.  Wasn't aware of `user` and `key` options.  But still not working.
I'll try to play with it some more.

[2016-06-27 13:23] Adezandee commented on #123
@danielbush, or maybe since you're running the sauce tunnel on localhost, you don't even need user and key. Just the port `4445`

[2016-06-29 12:44] danielbush commented on #123
Still can't get it to work.
I'm trying wd + mocha to change things up - but it's timing out.
Have a feeling I'm doing something stupid -__-
I guess we could close this.  If I get it working I'll come back and update it.
Thanks for helping.

[2016-06-29 12:44] #123 closed

[2016-07-12 21:30] AhmadMelegy opened #136 "Switch to iframe"
Is it possible to select an element from an iframe ?

[2016-07-14 10:59] #55 closed

[2016-07-31 15:42] Adezandee commented on #136
I don't know :)

[2016-07-31 15:42] #136 closed

[2016-08-04 06:29] BevanR opened #163 "Install? Quickstart?"
How can I use it?  How do I get started?  Is there an install process?  Is there a boilerplate or quickstart example repo?  I couldn't find any documentation about this.

[2016-08-04 06:31] BevanR opened #164 "Difference with webdriverio's boilerplate"
How is this different to https://github.com/webdriverio/cucumber-boilerplate?

[2016-08-04 06:45] Adezandee commented on #163
Hi @BevanR, you can find documentation and quickstart here http://cucumber-mink.js.org/.
Example implementation inside the repo here https://github.com/Adezandee/cucumber-mink/tree/master/test/features

[2016-08-04 07:02] Adezandee commented on #164
Well, I guess the difference is that they are using [yadda](https://www.npmjs.com/package/yadda) and I'am using [cucumberjs](https://www.npmjs.com/package/cucumber)

[2016-08-05 04:45] fullstackwebdev commented on #163
Hi I am unable to start either.  It seems to be ignoring my support files specifically mink.js

The documents don't describe how to include the mink.js, but the older README does say, " --require ./features/support/mink.js ..." -- however that doesn't work. The new documentation doesn't appear to say. I also tried Inject.

Did I miss this somewhere?

[2016-08-05 12:02] Adezandee commented on #163
`cucumber` cli with `npm i -g cucumber` will autoload support code automatically (at least last time I checked). Otherwise, if using support code with `cucumber-mink` you should disable inject and pass in `--require mink.js`like this:
[code]

[2016-08-05 15:59] davidje commented on #163
Thanks, can I ask another question; how do I use protractor.cucumber.js?

[2016-08-05 16:16] davidje commented on #163
I was able to get cucumber-mink to load my step_definitions, but not cucumber js.  Isn't cucumber.js suppose to see my ./features/support/mink.js?

This works:
[code]

This doesn't work

[code]

[2016-08-05 16:20] davidje opened #166 "How to access webdriver additional functions?"
I have a step definition that clears all cookies and looks like this:
[code]

However, the way I am running the code (cucumber-mink -- -r mink.js etc), I am unable to get to 'browser' or 'browser.manage()'.

If I try this.driver or this.driver.manage() -- no luck.

Also I have additional functionality that uses the Protractor driver (waitForAngular). Do I need to invoke cucumber-mink via cucumber-

[2016-08-05 22:57] Adezandee commented on #166
Hello @davidje, if you're using protractor to run you suite, `global.browser` should be available in any files. You can check how I'm running during the Travis build or here https://github.com/Adezandee/cucumber-mink/blob/master/protractor.cucumber.js

[2016-08-05 23:00] Adezandee commented on #163
@davidje, indeed. the cucumber cli should autoload support files. see https://github.com/cucumber/cucumber-js#requiring-support-files

[2016-08-05 23:03] Adezandee commented on #166
If you're not using protractor driver, the webdriverio object is available on `MinkContext.driver.client`, see https://github.com/Adezandee/cucumber-mink/blob/master/src/drivers/webdriverio.js#L23

[2016-08-06 06:17] BevanR opened #169 "Incompatible cucumber versions?"
Steps to reproduce;

1. `npm install -g cucumberjs`
1. Copy `test/features/` from this repository to `features/` in a new project/directory
1. `npm install --save cucumber-mink`
1. `cucumberjs` fails with:

[code]

cucumber.js version 1.2.2
cucumber-mink version 1.4.1

[2016-08-06 07:38] BevanR commented on #163
I got this a step further, but ran into what appears to be a compatibility issue; #169

[2016-08-07 20:39] BevanR commented on #169
This is caused by a function that Cucumber JS detects to both return a promise and accept a "done" callback.  Cucumber JS fails in this instance to avoid the step definition causing two Cucumber threads to run.  This can happen if the step definition function resolves the promise _and_ calls the "done" callback.  Cucumber JS' code to detect this scenario is not perfect; for example, I don't think

[2016-08-07 20:41] BevanR commented on #163
The trick to getting it working is to explicitly require support files.  E.g. `cucumberjs -r support/mink.js features/`

[2016-09-04 17:18] Adezandee commented on #169
Fixed with #199, thanks for your report ! 👍

[2016-09-04 17:18] #169 closed

[2016-09-04 17:18] #166 closed

[2016-09-04 17:18] #164 closed

[2016-09-16 13:35] danielantelo opened #211 "The "I should see/not see element" step definitions are not working with chrome driver"
The reply from chrome driver for elementState isVisible is an array and not a boolean.

[code]

I'm using ChromeDriver 2.24.417412 (ac882d3ce7c0d99292439bf3405780058fcca0a6)

Is there a particular version of chrome driver we should be using?

[2016-09-21 10:49] danielantelo opened #213 "Can't get Mink working with other cucumberjs step libraries"
Was trying to integrate https://github.com/ziprandom/cucumberjs-json-api-mocking into my mink setup, but it fails to find the step definitions and gives error "[ReferenceError: client is not defined]"

[code]

Any help would be appreciated!

Thanks, loving Mink so far!!

[2016-09-21 10:55] eprevot opened #214 "elementsWithText should not be case sensitive"
Don't you think that would be nice to change protractor.js elementsWithText, so that it's not case sensitive ?
I think if the case is changed by css text-transform, it should not affect the tests

[2016-09-22 10:58] danielanteloagra opened #215 "Ability to check cookies"
Step definitions allowing to check if a cookie exists would be great.

Worth considering, thanks,

[2016-09-22 23:33] Adezandee commented on #211
Hi @danielanteloagra, I've never seen such compatibility errors. I use protactor's webdriver-manager package to launch the selenium server usually.
Anyway seems to me that this kind of error should be handled inside WebdriverIO right?

[2016-09-22 23:34] Adezandee commented on #215
@danielanteloagra could be handy 👍

[2016-09-27 08:22] danielanteloagra commented on #211
After playing around a bit more, this happens when the selector finds more than one item. E.g. say you have 3 .my-element in a page, if all are hidden you get back [false, false, false] which should pass the test if you want to verify an element of that class is not visible. Currently it fails trying to compare an array to a boolean.

So here https://github.com/Adezandee/cucumber-mink/blob/master/

[2016-09-27 14:59] benoitpointet opened #222 "what about steps to fill form fields?"
Hi there,

i did not see any steps to fill form fields, did i miss something?

[2016-09-28 05:23] benoitpointet commented on #222
ah no found it, sorry for the trouble.

[2016-09-28 05:23] #222 closed

[2016-10-03 15:45] nishsinghal commented on #215
@Adezandee Seems like cookies can be checked using webdriver: http://webdriver.io/api/cookie/getCookie.html#
Would be awesome if there were built in definitions for these, I can make a PR if you like

[2016-10-05 19:50] benoitpointet opened #232 "handling redirects"
It seems that cucumber-mink does not by defaut handle redirects transparently (at least with phantomjs).

I could come over some the redirect issues i encountered by adding a "I wait 1 seconds" step.

Why isn't handling redirects? feature or bug?

[2016-10-22 20:43] benoitpointet opened #240 "manySteps not behaving as scenario"
I have the following 'login' scenario

[code]

It works well as such.

I make a single step out of it:

[code]

and adapt the scenario:

[code]

The scenario fails.

I went so far as to see that the "fill in" step does not perform in the manyStep version, no clue why.

Any hints?

[2016-10-22 22:14] Adezandee commented on #240
Hi @benoitpointet,
yeah, rewrite your step like this:
[code]

[2016-10-23 07:24] benoitpointet commented on #240
Thx. Solved the case.

If I use your proposal, then an error occurs saying "Function requires a callback and returns a Promise".

I ended up removing the callback completely. Works for me.

Question: are any callbacks passed by default or is the callback construction only for specific callbacks that cucumber-mink users would implement?

[2016-11-15 23:50] cajoy opened #257 "Should be on is not working with parameters"
For example I have following urls in menu:

/info/?page=terms

So I click on a link and I would like to verify that I am landed where expected

Then I should be on "/info/?page=terms" - doesn't work
while
Then I should be on "/info/" - works fine

What is kind of unexpected.

[2016-11-16 00:20] cajoy opened #258 "How can I clear cookie, session after each "feature"?"
For example I have 5 feature files

One of them Sign in user

I want to have clear session for each feature file. How can achieve it using framework?

[2016-11-17 00:59] cajoy opened #260 "How can I re-define build-in step?"
Trying to override default step to implement random values, in mink.js I've put:

[code]

and getting:

[code]

[2016-11-18 09:20] Adezandee commented on #240
cucumber support either a function with a callback or returning a Promise.
The way it detects between those two should be checked inside the cucumberjs repository

[2016-11-18 09:20] #240 closed

[2016-11-18 09:22] Adezandee commented on #232
If you are triggering redirect with javascript, there is no way cucumberjs can detect those. There is simply no interaction between backend javascript (cucumber) and frontend javascript (phantomjs).
Selenium isn't capable of propagating such event to backend js. So, I would say feature.

[2016-11-18 09:22] #232 closed

[2016-11-18 09:24] Adezandee commented on #257
Yeah, that's because I use nodejs `url` package to parse the raw url requested to the selenium server.
You could however implement your own check step which retrieve the same raw url.

[2016-11-18 09:26] Adezandee commented on #258
You can use the underlying `webdriverIO` API to do that. It's available through `Mink.driver`.
See the API http://webdriver.io/api.html

[2016-11-18 09:27] Adezandee commented on #260
Well, you can override a step once its defined. You can define as much as you want tho.

[2016-11-18 14:35] cajoy commented on #260
I see. Thanks.. It is so sad there is no way to extend current functionality instead of creating new steps. All I want is just manipulate with parameters from each step :(

[2016-11-18 14:36] cajoy commented on #257
Thanks @Adezandee  I will create new step..

[2016-11-18 14:36] #257 closed

[2016-12-14 14:40] #215 closed

[2017-01-05 14:55] tphillips opened #282 "How can I dismiss or press OK on a JS alert() dialog. (Using CLI and feature files)"

[2017-01-05 15:22] Adezandee commented on #282
Hi @tphillips,
I don't know sorry. Maybe its possible using lower level API, see http://webdriver.io/api.html

[2017-01-16 20:25] cajoy commented on #258
Unfortunately I can't make it work

[code]

It is always undefined. How can I get browser instance???

[2017-01-16 20:44] #258 closed

[2017-07-13 23:43] jrschumacher opened #319 "Driver baseUrl param not being used from support/mink.js"
Doing exactly what is done in #22 using v1.6.0 of cucumber mink results in the base url not being set.

This is the directory tree

[code]

Command: `cucumber-mink`

---

If I run `BASE_URL=http://google.com cucumber-mink` it works.

[2017-07-14 00:04] jrschumacher opened #320 "Cucumber-mink not showing steps in browser"
I've tied cucumber-mink into an existing test suite which launches the browser and visually shows the steps, however the mink tests don't visually show the steps (the steps pass and fail correctly).

Visual isn't important for me, but others want to see it or it doesn't work. Ideas?

[2017-08-30 06:04] benoitpointet opened #322 "Support for cucumber 3.0.0"
Cucumber-mink does not work with cucumber 3.0.0, due to some breaking changes on the cucumber-js side: https://github.com/cucumber/cucumber-js/blob/master/CHANGELOG.md

[2017-09-11 03:28] fgiroud commented on #322
+1 for this

[2017-09-11 07:06] Adezandee commented on #322
Thanks for the report, I'll work on this

[2017-09-11 12:58] Adezandee commented on #322
@benoitpointet @fgiroud
done https://github.com/Adezandee/cucumber-mink/releases/tag/v1.7.0

[2017-09-11 12:59] #322 closed

[2017-09-11 14:33] fgiroud commented on #322
Thanks a lot! that was fast

[2017-09-12 05:33] fgiroud opened #324 "Clarify the doc, add working exemples ?"
Hi, thanks for this package, I believe it has a huge potential, beeing a fan of behat/mink myself.
However as an advanced beginner in javascript I struggle to make it work.

Could you add working exemples ?

## Problem 1 : Local or global install ?
According to this issue : https://github.com/cucumber/cucumber-js/issues/908, cucumber needs to be installed locally only
When I run
[code]
I got :
[co

[2017-11-29 16:48] danielantelo opened #325 "Has anyone managed to get cucmber-mink working with Appium?"
I can get it connected to appium and it boots up iphone emulator and a browser. But then does not seem to run the feature tests.

Anyone else had a go?

[2017-11-29 16:48] #211 closed

[2017-11-29 16:49] #213 closed

[2017-11-29 17:32] Adezandee commented on #325
Hi @danielantelo, never tried Appium sorry

[2017-12-05 14:32] MattLish opened #326 "Use cucumber mink from within a node javascript file"
I want to run cucumber mink using gulp (instead of from the command line).
So to do this, I need to just run mink from a javascript file.

I have tried doing:

[code]

and

[code]

However, both times I receive the same error:

[code]

Is it possible to run cucumber mink from a javascript file rather than the command line?
Is there something I am missing/not understanding here?

[2017-12-06 09:50] Adezandee commented on #326
Hello @MattLish
If you wish to execute cucumber from your own `.js` file, you'll have to mimic the initialisation procedure here: https://github.com/cucumber/cucumber-js/blob/master/src/cli/index.js
And then inject mink support code inside this procedure.

hope this helps

[2018-01-30 21:11] pauloeliasjr opened #328 ""event.isFailed is not a function" while trying to screenshot"
Hi!

I'm using cucumber-js with '-r' option to run cucumber-mink tests. My goal is to execute all the tests, generate a .json output file and create a html report with all tests results (including snapshots on failure scenarios). I'm able to execute all the tests using chrome, but on a failed scenario I see the following behavior:

`./node_modules/.bin/cucumber-js -r features/support/mink.js -f js

[2018-02-06 14:16] pmestrum commented on #326
Hi, I want to add mink to my angular 5 project using protractor-cucumber-framework.  I've put a 'onPrepare' in my protractor.conf.js that initializes mink & registers itself to cucumber, and I get the same error as MatLish.

[code]
On the homepage of mink: http://cucumber-mink.js.org/ it's described how to run with cucumber.js support code, but still uses the deprecated method 'defineSupportCode'

[2018-03-28 17:20] Adezandee commented on #324
Done, the documentation contains a step by step guide now.

[2018-03-28 17:20] #324 closed

[2018-03-28 17:21] Adezandee commented on #43
Closing, should be a custom implementation.

[2018-03-28 17:21] #43 closed

[2018-03-28 17:22] Adezandee commented on #26
Migration to puppeteer should now ensure full angular compatibility, provided that you configure the driver "wait" hooks on relevent angular events.

[2018-03-28 17:22] #26 closed

[2018-03-28 17:24] #282 closed

[2018-03-28 17:24] Adezandee commented on #282
Following migration to puppeteer, you should be able to do that with browser side JS.

[2018-03-28 17:25] Adezandee commented on #319
Should work as intended... dunno ?

[2018-03-28 17:25] #319 closed

[2018-03-28 17:26] #325 closed

[2018-04-12 15:12] dareenzo opened #331 "function timeouts when following links"
Hello,

I've been playing with this trying to get an existing app tested. Right off the bat, I get an error when I try to follow a link as seen below.  Any pointers as to what might be the reason for this to fail?

[code]

Thanks

[2018-08-08 08:02] amenk opened #332 "Port to cypress-cucumber"
Did anybody port this to cypress yet :-)

https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/issues/83

[2018-09-11 16:43] Adezandee opened #334 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-09-11 16:48] #334 closed

[2018-11-08 18:20] rrehbein commented on #331
Cucumber's setDefaultTimeout can be used.

[code]

[2018-11-13 20:06] rrehbein opened #339 "Following links sometimes uses non-visible."
Following links sometimes uses non-visible.

[code]

Error: Node is either not visible or not an HTMLElement

It appears filtering ElementHandles by return type of `elementHandle.boundingBox()` can be used.

Adding that filter though to Mink.prototype.link may not fit though.

[2018-11-14 15:17] dareenzo commented on #331
Thanks

[2018-11-14 15:17] #331 closed

[2018-12-27 18:23] brockfanning opened #341 "Support for abstracted selectors"
When writing these kinds of tests I like to keep it as human-readable as possible, for a couple reasons:
1. The .feature files can be used to document (for humans) the intended functionality of a site
2. Sometimes a human tester may need to manually test a .feature file

The current step definitions are wonderfully flexible, thanks to the CSS selector parameters, and can handle most cases without

[2019-01-07 15:22] #341 closed

[2019-02-06 15:32] bizurkur opened #343 "Typo on website docs"
There's a small typo on the website docs for "[element not exists](http://cucumber-mink.js.org/steps/#element-not-exists)."

It lists the regexp as `/^the "([^"]*)" element should exist$/`, but it's really `/^the "([^"]*)" element should not exist$/`

[2019-03-25 09:50] Adezandee commented on #341
:tada: This issue has been resolved in version 2.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/cucumber-mink)
- [GitHub release](https://github.com/Adezandee/cucumber-mink/releases/tag/v2.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-05 08:36] matmar10 commented on #326
@pmestrum where you ever able to find a viable solution for new(er) versions of protractor? If so, would you mind sharing a snippet?

[2019-08-28 09:48] p2635 opened #344 "'Then I should see' question"
Sorry if this is the wrong place to post questions.

I can make 'Then I should see' work for normal strings on the page but if I have something like this, it fails:
'This is text with link A, link B and link C' (where link A, link B and link C are actual hyperlinks)

How would I make it pass? Is there an alternative step I should use? (I'm using Behat)

[2020-05-23 14:26] brockfanning commented on #344
@p2635 You mention Behat, so it's possible you posted in the wrong place. This project is a Javascript library, and not connected to Behat (though it is _inspired_ by Behat/Mink I believe).

As for how "I should see" works in this library, see [here](http://cucumber-mink.js.org/steps/#html-contains). It looks for the string in the HTML. So in your case I believe you would need something like: `Thi

[2020-05-23 14:31] p2635 commented on #344
Thanks @brockfanning  this is so old that I forgot about it and no longer relevant. Thanks for reaching out though and  sorry for posting in the wrong place!

[2020-05-23 14:31] #344 closed

[2020-07-08 08:26] #343 closed

[2021-03-07 18:36] brockfanning opened #352 "Compatible with WSL2 in Windows?"
Hello,

I've been using this library for a long time with great success in Linux, but have had difficulty when trying it in WSL2 in Windows. I thought I'd ask the cucumber-mink community if anyone has had any success using this in WSL2. I assume it is some issue with Puppeteer and/or Chrome. At best I can get it to run, but with frequent random failures. Thank you for any feedback!

[2021-04-02 15:22] brockfanning opened #354 "Documentation of creating custom step definitions"
Would it be possible to get a headstart on the code needed to create a custom step definition? I'd be happy to flesh it out and submit a PR, but could use a little nudge in the right direction.

[2021-04-02 15:31] brockfanning commented on #354
Ok, actually it seems straightforward - apologies, I remembered confusing me in the past... The basics are:

[code]

Sorry for the noise - I'll close this for now.

[2021-04-02 15:31] #354 closed